<ul class="navbar-nav me-auto mb-2 mb-md-0">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'catalog:add'%}">Добавить запись</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'catalog:blog_view'%}">Блог</a>

    </li>
    {% if user.is_authenticated%}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:logout'%}">Выйти</a>

    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:profile'%}">Профиль</a>

    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:reset'%}">Сброс</a>

    </li>

    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:login'%}">Войти</a>
    </li>
     <li class="nav-item">
        <a class="nav-link" href="{% url 'users:register'%}">Регистрация</a>
    </li>
    {%endif%}


</ul>