{% extends 'catalog/base.html'%}
{% block content%}

<div class="col-6">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Добавить запись</h3>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                <input class="form-control form-control-lg" type="text" placeholder="name" name="name">
                <input class="form-control form-control-lg" type="text" placeholder="description" name="description">
                <input class="form-control form-control-lg" type="number" id="number" placeholder="price_for_buy" name="price_for_buy">
                <input class="form-control form-control-lg" id="date" type="date" placeholder="creation_date" name="creation_date">
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>


{% endblock %}