{% extends 'catalog/base.html'%}
{% load mediapath %}
{%load cuttext%}

{% block content %}

{% for object in object_list%}


<div class="col-lg-4">
    <div class="card">
        <div class="card-body">
            {% if object.img%}
            <p><img src="{{object.img|mediapath}}" width="300" height="300" alt="Винни-Пух"></p>
            {%endif%}

            <h2>{{object.name}}
            </h2>
            <p>{{object.description|cut}} </p>
            <p>{{object.creation_date}}</p>
            {% for history_item in object.version_set.all%}
            {% if history_item.version_sign%}
            <p>{{history_item.version_name}}</p>
            <p> Номер версии - {{history_item.version_number}}</p>
            {%endif%}
            {%endfor%}
<!--            <div class="col-12">-->
<!--                <a href="#" class="btn btn-primary">создать</a>-->
<!--            </div>-->
            <p><a class="btn btn-primary" href="{% url 'catalog:details' object.pk %}">Подробнее &raquo;</a></p>
            <p><a class="btn btn-danger" href="{% url 'catalog:delete' object.pk %}">Удалить &raquo;</a></p>

            {% if object.author == user %}


            <p><a class="btn btn-success" href="{% url 'catalog:product_update' object.pk %}">Изменить &raquo;</a></p>
            {% endif%}

        </div><!-- /.col-lg-4 -->
    </div>
</div>
{% endfor %}
{% endblock %}
